./.vscode
./Codec/demo/build
./Detection/demo/build
./Transporter/demo/build
./Control/demo/build
./Camera/demo/build
*build

.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/settings.json
.vscode/tasks.json
